# Node modules
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Electron build artifacts
/dist/
/out/
*.asar

# Compiled files
*.tsbuildinfo
*.log
*.pid
*.seed

# Metadata OS files
.DS_Store

# Certificates and provisioning profiles
*.p12
*.cer
*.certSigningRequest
*.mobileprovision
*.provisionprofile

# Distribution files
dist/